.header {
  background: url('../images/bg-1.jpg')center center scroll repeat-y transparent!important;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.header h2 {
  font-weight: 400;
}
.header p {
  font-size: 1.1475rem;
  color: #999;
  margin: 1rem 0 1.125rem 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.nav-link {
  transition: all 0.3s linear;
  color: #f1f1f1;
  width: auto;
  padding: 0.6em 0.8em;
  font-size: 16px;
}
.nav-link:hover {
  background: #12b2e7;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.3s linear;
}

/* Fondos */
.fondo {
  background-color: rgba(0, 0, 0, .5);
  height: 100vh;
}

.kodi-title {
  font-weight: 400;
  font-size: 2.3625rem;
  line-height: 37.2px;
}
.kodi-title + p {
  font-size: 1.35rem;
  color: rgb(119, 119, 119);
}

.container-icon h2 {
  font-size: 2.5875rem;
  font-weight: 400;
  color: rgb(221, 221, 221);
}
.container-icon p {
  color: #999;
  font-size: 1.35rem;
  margin-bottom: 43.2px;
}

.product p {
  color: #555;
  font-size: 1.125rem;
  line-height: 26px;
}

.list-group-item {
  background-color: #17a2b8 !important;
}

.system-operaty {
  transition: 2s;
  font-size: 2rem;
  color: #a2a2a2;
}
.system-operaty:hover {
  transform: scale(1.3);
  transition: 2s;
}

.col-blue-hover:hover,
.col-blue-hover i:hover {
  color: #12b2e7;
}
.col-white-hover:hover,
.col-white-hover i:hover {
  color: #fff;
}
.col-green-hover:hover,
.col-green-hover i:hover {
  color: #21ecb9;
}
.col-yellow-hover:hover,
.col-yellow-hover i:hover {
  color: #f1e05e;
}
.col-red-hover:hover,
.col-red-hover i:hover {
  color: #da244c;
}


/* Cards */
.cards h2 {
  color: #333;
  font-weight: 400;
}
.cards .mb-5 {
  color: #777;
  font-size: 1.35rem;
}
.cards .row p {
  color: #777;
  font-size: 1.06875;
}

ul li:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.imagenes img {
  transition: all 0.5s linear;
  filter: grayscale(100%);
  opacity: 0.6;
}
.imagenes img:hover {
  opacity: 1;
}

.zeta {
  font-size: 1.35rem;
  padding-right: 2rem;
}

footer {
  background-color: #111111;
}
footer .list-unstyled li {
  color: #bbb!important;
}

/* Letras */
.letras {
  font-size: 1.125rem!important;
  color: rgb(119, 119, 119)
}

/* MEDIA QUEIRES*/
@media screen and (min-width: 700px) {
  .header p {
      padding: 0 20rem;
  }
}

.section-open-source- {
  background: url('../images/logo-watermark-large.png') center center scroll repeat-y transparent!important;
  height: 100vh;
  background-position: center;
  background-size: cover;  
}